.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

img {
  max-width: 400px;
  max-height: 400px;
}

img,
button {
  margin-top: 20px;
}
